.container {
  background-color: whitesmoke;
  height: 500px;
  width: 500px;

  .input-wrapper {
    height: 25%;
    display: flex;
    align-items: center;

    &--direction {
      width: 50px;
    }
  }

  .list-wrapper {
    height: 360px;
    overflow: scroll;
  }
}
